.kotak-satu {
    padding: 20px;
    margin: 10px;
    border: 2px;
    background-color: lightblue;
}

.kotak-dua {
    padding: 20px;
    margin: 10px;
    border: 2px solid tomato;
    background-color: palegreen;
    max-width: 50%;
}

.kotak-tiga {
    padding-left: 50px;
    margin-top: 50px;
    margin-left: 50px;
    border-left: 2px dotted red;
    background-color: burlywood;
    width: 300px;
    height: 200px;
}