*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.menu-container {
  color: black;
  background-color: tomato;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  /*border: 1px solid #fff;*/
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.profil {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.foto-map {
  width: 30px;
}

.foto-instagram {
  width: 30px;
}

.tiktok {
  width: 30px;
}

.nama {
  /*border: 1px solid #fff;*/
  display: flex;
  justify-content: center;
  margin-right: 200px;
  color: #fff;
}

.header-container {
  background-color: #ba2222;
  display: flex;
  justify-content: center;
}

.header {
  justify-content: center;
  display: flex;
}

.foto-saya {
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 500px;
  height: 537px;
}

.endy {
  width: 500px;
  height: 525px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: tomato;
  height: 100px;
  flex: 1;
}

.footer-one,
.footer-three {
  background-color: #ba2222;
  color: black;
  flex: initial;
  width: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  list-style-type: none;
}

.footer-two {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobi:hover {
  background-color: black;
  transition: 0.05s ease-in-out;
  transition-delay: 0.3s;
  border-radius: 8px;
  color: #fff;
}

.spotify:hover {
  background-color: black;
  transition: 0.05s ease-in-out;
  transition-delay: 0.3s;
  border-radius: 8px;
  color: #fff;
}
